

# Aiven MySQL Cloud Database
DB_HOST=your-aiven-host.aivencloud.com
DB_PORT=15960
DB_USER=avnadmin
DB_PASSWORD=your_aiven_password_here
DB_NAME=rideflow_db
DB_SSL=true

# Express Server
PORT=3000

SESSION_SECRET=change_this_to_a_random_secret
