<%- include('partials_header') %>
<div class="card border-danger">
  <div class="card-body">
    <h2 class="text-danger">Error</h2>
    <p><%= message %></p>
    <a href="/" class="btn btn-primary">Back</a>
  </div>
</div>
<%- include('partials_footer') %>
